h1 {
	letter-spacing: 10px;
	size: 150%;
}
body {
	background-color: #282e3a;
	color: white;
	text-align: center;
	font-family: tahoma;
}


#inputs {
	padding: 20px;
}

#inputs input {
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;*/
	float: left;
	width: 110px;
	line-height: 100px;
	border-radius: 15px;
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
	border: none;
	color: white;
}

#inputs input:nth-child(1) {
	background: #fa5559;
}

#inputs input:nth-child(2) {
	background: #26c2b9;
}

#inputs input:nth-child(3) {
	background: #f6bc58;
}

#inputs input:nth-child(4) {
	background: #2dcb74;
}

#clock {
	padding: 20px;
}

#clock span {
	display: none;
	margin-right: 2%;
	margin-left: 2%;*/
	float: left;
	width: 110px;
	line-height: 100px;
	border-radius: 15px;
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
}

#clock span:nth-child(1) {
	background: #fa5559;
}

#clock span:nth-child(2) {
	background: #26c2b9;
}

#clock span:nth-child(3) {
	background: #f6bc58;
}

#clock span:nth-child(4) {
	background: #2dcb74;
}

#units {
	padding: 20px;

}
#units span {
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
	width: 110px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 4px;
}

button {
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
	border: 0 none;
	margin-top: 35px;
	outline: none;
	text-align: center;
	vertical-align: middle;
	margin-left: 25%;
	margin-right: 25%;
}

button:hover {
	opacity: 0.5;
}

#timeup {
	display: none;
	padding: 5px 10px 5px 10px;
	letter-spacing: 3px;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 20px;
}